$color-black: #000000;
$color-dark: #0C0C0E;
$color-sand: #BB945F;
$color-additional:#CB8C37;
$color-light: #FFFFFF;
$color-inactive: #8E8E8E;

//$body-width: 1440px;
$content-width: 1440px;
$tablet-width: 1024px;

