.welcome{
  background-color: $color-dark;
}

.welcome__wrapper{
  position: relative;
  background: center url("../assets/image/Welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: $content-width;
  height: 600px;
  padding: 0;
  @include media-tablet(){
    background: center url("../assets/image/Welcome_tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.welcome__overlay{
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  height: 300px;
}

.welcome__window{
  position: absolute;
  z-index: 2;
  top: 220px;
  bottom: 160px;
  background-color: $color-dark;
  width: 600px;
  height: 220px;
}

.welcome__text{
  color: $color-light;
  padding: 35px 40px;
  text-align: center;
  @extend %font-add;
  @include font(4rem, 5rem, 0.3rem);
  text-transform: uppercase;
}
